.about h1{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: center;
  padding-top: 20px;
}

.about {
  background-color: #C9ECFF;
  height:600px;
  margin-bottom: 20px;
}

.about__boxes {
   margin: 50px;
   display: grid;
   grid-gap: 45px;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   margin-left: 100px;
   padding-top: 20px;
}

.about__boximg img {
  opacity: 1;
  position: absolute;
  z-index: 0;
  top: 0;
  align-items: center;
  background-color: #ffff;
  width: 300px;
  margin-top: 250px;
  border-radius: 50px;
}

.about__box h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 300px;
  margin-right: 50px;
  padding-bottom: 0;
}

.about__box p {
  font-size: 15px;
  text-align: center;
  margin-right: 50px;
}
