.doctors-container{
    background-color: #ecf0f9;
    .banner{
        height: 16rem;
        background-image: url("../images/banner.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .doctor-names-container{
        margin-top: 3rem;
        width: 65rem;
        margin: auto;
        display: flex;
        gap: 1rem;
        padding-bottom: 2rem;
        @media screen and (max-width: 1060px) {
            width: 57rem;
          }
          @media screen and (max-width: 920px) {
            width: 100%;
            flex-direction: column;
            padding: 0.5rem;
          }
        .left-container{
            flex-basis: 35%;
            @media screen and (max-width: 920px) {
                width: 28rem;
                margin: auto;
              }
            @media screen and (max-width: 490px) {
                width: 90%;
                margin: auto;
              }
            .heading{
                text-align: center;
                padding: 0.5rem;
                background-color: #a81847;
                h5{
                    margin: 0;
                    color: white;
                    font-weight: 600;
                }
            }
            .specializations{
                padding: 0.5rem 0.8rem;
                background-color: #fff;
                .specializations-name{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem;
                    cursor: pointer;
                    p{
                        margin: 0;
                    }
                }
            }
        }
        .right-container{
            flex-basis: 65%;
            
              h3{
                @media screen and (max-width: 920px) {
                    text-align: center;
                  }
              }
            .doctor-details-container{
                display: flex;
                margin-top: 1rem;
                gap: 0.8rem;
                flex-wrap: wrap;
                @media screen and (max-width: 920px) {
                    justify-content: center;
                  }
                .doctor{
                    background-color: #fff;
                    img{
                        width: 18rem;
                        height: 21rem;
                        @media screen and (max-width: 1060px) {
                            width: 16rem;
                            height: 19rem;
                          }
                    }
                    p{
                        
                        text-align: center;
                        margin: 0;
                    }
                }
            }
        }
    }
}