.infos img {
  height: 300px;
  width: 500px;
  margin-left: 100px;
  border-radius: 50px
}

.info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #C9ECFF;
}

.infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}

.infoleft h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  letter-spacing: -0.04em;
}

.infoleft p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 1.5rem;
  margin-right: 20px;
}

.infoleft button{
  width: 300px;
  min-height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #23286B;
  color: #ffff;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 10px;
  text-decoration:none;
}

.infos .input {
  text-decoration: none;
  color: #ffff;
}

.inforight h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  letter-spacing: -0.04em;
  margin-left: 100px;
}

.inforight p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 1.5rem;
  margin-left: 100px;
}

.inforight button{
  width: 300px;
  min-height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #23286B;
  color: #ffff;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 100px;
  text-decoration:none;
}

.up__button img {
  width: 20px;
  height: 20px;
}

.up__button{
  align-items: center;
}

.info h1 {
  text-align: center;
  margin-bottom: 60px
}
