.contact__main {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.contact__heading {
  text-align: center;
  height: 61px;
  font-family: "Alatsi";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  color: #3029ff;
}

/* Contact Image */

.contact__rightImage > img {
  width: 455px;
  height: 322px;
  left: 846px;
  top: 202px;
}

/* Contact Form */

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact__form__email,
.contact__form__name {
  width: 418px;
  border: none;
  height: 50px;
  outline-width: 0;
  background: #ffffff;
  box-shadow: 8px 8px 2px rgb(0 0 0 / 25%);
}

.contact__form__subject {
  border: none;
  height: 50px;
  width: 518px;
  outline-width: 0;
  background: #ffffff;
  box-shadow: 8px 8px 2px rgb(0 0 0 / 25%);
}

.contact__form__message {
  height: 154px;
  background: #ffffff;
  box-shadow: 8px 8px 2px rgb(0 0 0 / 25%);
  outline-width: 0;
  border: none;
}

.contact__form__button {
  width: 152px;
  height: 45px;
  background: #3029ff;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 100px;
  font-family: "ALATSI";
  border: none;
  margin-top: 20px;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #3029ff,
    #3029ff,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 49px;
  color: #000000;
}

.contact__form__button:hover {
  background-position: 100% 0;

  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 586px) {
  .contact__form__email,
  .contact__form__name {
    width: 110px;
    height: 40px;
  }

  .contact__form__subject {
    height: 40px;
    width: 170px;
  }

  .contact__form__message {
    width: 170px;
    height: 164px;
  }
  ::placeholder {
    font-size: 15px;
  }
  .contact__rightImage > img {
    width: 170px;
    height: 190px;
  }
  .contact__main {
    height: 70vh;
  }

  .contact__form__button {
    width: 106px;
    height: 32px;
    border: none;
  }
}
@media screen and (min-width: 586px) and (max-width: 768px) {
  .contact__form__email,
  .contact__form__name {
    width: 248px;
  }

  .contact__form__subject {
    width: 318px;
  }

  .contact__form__message {
    width: 318px;
    height: 164px;
  }
  ::placeholder {
    font-size: 22px;
  }
  .contact__rightImage > img {
    width: 280px;
    height: 340px;
  }
  .contact__main {
    height: 70vh;
  }

  .contact__form__button {
    width: 130px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact__form__email,
  .contact__form__name {
    width: 308px;
  }

  .contact__form__subject {
    width: 388px;
  }

  .contact__form__message {
    width: 388px;
    height: 164px;
  }
  ::placeholder {
    font-size: 22px;
  }
  .contact__rightImage > img {
    width: 310px;
    height: 360px;
  }
  .contact__main {
    height: 70vh;
  }

  .contact__form__button {
    width: 130px;
    height: 40px;
  }
}
