.footer-container{
    background: rgba(48, 41, 255, 0.7);;
    padding: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-logo-container{
    flex-basis: 40%;
}
.footer-container .footer-logo{
    width: 5rem;
    height: 5rem;
}
.footer-container .logo-title{
    display: flex;
    align-items: center;
}
.footer-container .footer-logo img{
    width: 100%;
    height: 100%;
}
.footer-container .footer-logo-container p{
    font-size: 36px;
    margin: 0;
    margin-top: -10px;
}
.footer-container .footer-section{
    flex-basis: 20%;
}
.footer-container .footer-section p{
    font-size: 20px;
    margin: 0;
}
.footer-container .footer-section p a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1152px) {
    .footer-container .footer-logo-container p{
        font-size: 24px;
    } 
}
@media screen and (max-width: 1087px) {
    .footer-container .footer-section{
        flex-basis: 39%;
        margin-top: 0.5rem;
    }
    
}
@media screen and (max-width: 725px) {

    .footer-container .footer-logo-container p{
        font-size: 20px;
    } 
    
}
@media screen and (max-width: 725px) {
    
    .footer-container {
        gap: 1.5rem;
    } 
    .footer-container .footer-logo-container p{
        font-size: 17px;
    } 
    
}