@import url("https://fonts.googleapis.com/css?family=Alatsi");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.container {
  align-items: center;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------- */

/* --------------------------Banner----------------------------------------------------- */
.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-block: 2rem;
}

.heading__info {
  display: flex;
  flex-direction: column;
}

.heading__info__title {
  font-size: 4rem;
  font-weight: 500;
}

.heading__info__subtitle {
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: bold;
}

/* Get In Touch Button */
.heading__info__cta {  
  background-color: #3029ff;  
  border-radius: 30px;
  color: white;
  font-size: clamp(1.1rem, 1vw, 1rem);
  font-weight: bold;
  letter-spacing: 0.6px;
  width: 150px;
  box-shadow: rgba(48, 41, 255) 0px 5px 15px;
  border: 2px solid transparent;
  transition: 0.5s;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading__info__cta:hover {
  background-color: transparent;
  border: 2px solid #3029ff;
  color: #3029ff;
}

.heading__lcp img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: contain;
  filter: drop-shadow(5px 5px 5px #3029ff);
}

@media (min-width: 750px) {
  .heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .heading__info__cta {
    max-width: 15rem;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 768px) { 
  .heading__info__cta {
    position: relative;
    left: 50%;
    transform: translate(-50%, 5%);
    max-width: 12rem;
    margin-top: 15rem;
  }
}

/* ----------------------------------------------------------------------------------- */

/* ------------------------------- About Us Section ---------------------------------- */

.aboutus { 
  background-color: #3029ff;
  padding: 30px 50px;
  border-radius: 20px;
}

.aboutus h4 {
  text-align: center;
  color: white;
  font-family: "Alatsi", sans-serif;
  font-size: 48px;
  margin-bottom: 2rem;
}

.aboutus .aboutus-container {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.aboutus-text { 
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat";
  line-height: 35px;
  text-align: justify;
  color: white
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
  .aboutus h4 {
    text-align: center;
    color: white;
    font-family: "Alatsi", sans-serif;
    font-size: 40px;
    margin-bottom: 1.5rem;
  }

  .aboutus-text { 
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat";
    line-height: 30px;
    text-align: justify;
    color: white
  }

  .aboutus { 
    background-color: #3029ff;
    padding: 30px 35px;
    border-radius: 20px;
  }
}



/* ----------------------------------------------------------------------------------- */

/* --------------------------Services----------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");

.services h4 {
  text-align: center;
  color: #3029ff;
  font-family: "Alatsi", sans-serif;
  font-size: 48px;
  margin-bottom: 2rem;
}
.services .services-container {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.services .services-container .service-box {
  width: 320px;
  height: 195px;
  border-right: 10px solid black;
  border-top: 5px solid black;
  border-left: 10px solid black;
  border-bottom: 5px solid black;
  border-radius: 20px;
  /* background-image: url("../assets/images/service1.png"); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .services-container .service-box .view-btn {
  width: 138px;
  height: 46px;
  background: #3029ff;
  box-shadow: 0px 4px 10px #ffffff;
  border-radius: 20px;
  color: #ffffff;
  z-index: 2;
  transition: 0.2s;
  border: none;
  text-align: center;
  padding: 0.7rem;
}

.services .services-container .service-box .view-btn:hover {
  background: transparent;
  border: 1px solid #3029ff;
  box-shadow: 0px 4px 10px #3029ff;
  background: #ffffff;
  color: #3029ff;
}

.services .services-container .service-box .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* ----------------------------------------------------------------------------------- */

/* ----------------------------Helping Hand------------------------------- */

.helping-hand {
  margin-bottom: 2rem;
}
.helping-hand h4 {
  text-align: center;
  color: #3029ff;
  font-family: "Alatsi", sans-serif;
  font-size: 48px;
  margin: 2rem 0;
}
.helping-hand .helping-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.helping-hand .helping-container .helping-box {
  width: 300px;
  height: 500px;
  padding: 1rem 1.5rem;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 1.5rem 0;
  position: relative;
}
.helping-hand .helping-container .helping-box .image-container {
  width: 220px;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #3029ff;
  box-shadow: 5px 5px 20px rgba(48, 41, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 1.3rem;
}
.helping-hand .helping-container .helping-box .image-container img {
  width: 95%;
  height: 90%;
  object-fit: contain;
}
.helping-hand .helping-container .helping-box h5 {
  font-family: "Alatsi", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.helping-hand .helping-container .helping-box p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 24px;
  text-align: justify;
}

.helping-hand .helping-container .helping-box .view-btn {
  width: 124px;
  height: 33px;
  background: #3029ff;
  border-radius: 20px;
  color: #ffffff;
  z-index: 2;
  font-weight: 500;
  transition: 0.2s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  text-align: center;
  padding: 0.2rem;
  border: 1px solid #dad9d9;	
}
.image-container {
  position:relative;
}
.image-container img {
  position:absolute;
  width: 100%;
  transition: opacity 1s ease-in-out;
}
.image-container img.top{
  background-color: white;
  width: 100%;
}
.image-container img.top:hover {
  opacity:0;
}

.helping-hand .helping-container .helping-box .view-btn:hover {
  background: transparent;
  border: 1px solid #3029ff;
  box-shadow: 0px 4px 10px #3029ff;
  background: #ffffff;
  color: #3029ff;
}

/* --------------------------contact----------------------------------------------------- */

.contact__main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 1rem;
}

.contact__heading {
  text-align: center;
  height: 61px;
  font-family: "Alatsi";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  color: rgba(48, 41, 255, 0.5);
}

/* Contact Image */

.contact__rightImage img {
  width: 460px;
  height: 100%;
  object-fit: contain;
}

.contact__rightImage {
	width: 100%;
  justify-content: center; 
  display: flex;
}
/* Contact Form */

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  flex-grow: 1;
  font-family: "Montserrat";
  width: 100%; 
  padding: 0 70px;
}

.input_container {
  background: #ffffff;
  border: none;
  outline-style: none;
  border-radius: 12px;
  padding: 0.6rem;
  display: flex;
  gap: 0.4rem;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(48, 41, 255, 0.5);
}

.input_container img{
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.input__name {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.input_container input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}
.input_container input ::placeholder {
  font-family: "Aksara Bali Galang";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 86px;
  color: rgba(0, 0, 0, 0.25);
}
.input_container textarea {
  width: 100%;
  border: none;
  outline: none;
  height: 160px;
  padding: 8px 0;
}

.contact__form__button {
  border: none;
  outline-style: none;
  width:20vw;
  padding: 2vw 5vw;
  border-radius: 10px;
  background-color: black;
  color: white;
  box-shadow: 0px 5px 10px rgba(48, 41, 255, 0.5);
  margin: 0 auto;
}

.contact__form__button:hover {
  background-color: rgba(48, 41, 255, 0.5);
  transition: .3s ease-in-out;
}

/* Media Queries */

@media (min-width: 750px) {
  .contact__main {
    flex-direction: row-reverse;
  }

  .contact__form__email,
  .contact__form__name {
    max-width: 100%;
  }
}

@media (max-width: 1190px) {
  .contact__main {
    flex-direction: column-reverse;
    max-width:800px; 
  }
  .contact {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .contact__rightImage img {
    width: 100%;
  }
  .contact__form {
    padding: 0 5px;
  }
  .input__name {
    flex-direction: column;
  }
  .heading__info {
    margin-top: 50px;
  }
  .heading__info__cta {
    width: auto;
    height: 50px;
    margin: 0 4px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .contact__form__button {
    width: auto;
  }
}
