@import url("https://fonts.googleapis.com/css?family=Alatsi");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.container {
  align-items: center;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------- */

/* --------------------------Banner----------------------------------------------------- */
.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-block: 2rem;
}

.heading__info {
  display: flex;
  flex-direction: column;
}

.heading__info__title {
  font-size: 4rem;
  font-weight: 500;
}

.heading__info__subtitle {
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: bold;
}

.heading__info__cta {  
  border: none;
  background-color: #3029ff;  
  border-radius: 30px;
  color: white;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: bold;
  width: 150px;
  padding:10px;
  box-shadow: rgba(48, 41, 255, 0.5) 0px 5px 15px;
  border: 2px solid transparent;
  transition:120ms;
}

.heading__info__cta:hover {
  background-color: transparent;
  border: 2px solid #3029ff;
  color: #3029ff;
  transform:scale(0.95);
}

.heading__lcp img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: contain;
  filter: drop-shadow(5px 5px 5px #3029ff);
}

@media (min-width: 750px) {
  .heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .heading__info__cta {
    max-width: 15rem;
    margin-top: 5rem;
  }
}

/* ----------------------------------------------------------------------------------- */

/* ------------------------------- About Us Section ---------------------------------- */

.aboutus { 
  background-color: #3029ff;
  padding: 30px 50px;
  border-radius: 20px;
}

.aboutus h4 {
  text-align: center;
  color: white;
  font-family: "Alatsi", sans-serif;
  font-size: 48px;
  margin-bottom: 2rem;
}

.aboutus .aboutus-container {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.aboutus-text { 
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat";
  line-height: 35px;
  text-align: justify;
  color: white
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
  .aboutus h4 {
    text-align: center;
    color: white;
    font-family: "Alatsi", sans-serif;
    font-size: 40px;
    margin-bottom: 1.5rem;
  }

  .aboutus-text { 
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat";
    line-height: 30px;
    text-align: justify;
    color: white
  }

  .aboutus { 
    background-color: #3029ff;
    padding: 30px 35px;
    border-radius: 20px;
  }
}



/* ----------------------------------------------------------------------------------- */

/* --------------------------Services----------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");

.services h4 {
  text-align: center;
  color: #3029ff;
  font-family: "Alatsi", sans-serif;
  font-size: 48px;
  margin-bottom: 2rem;
}
.services .services-container {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.services .services-container .service-box {
  width: 320px;
  height: 195px;
  border-right: 10px solid black;
  border-top: 5px solid black;
  border-left: 10px solid black;
  border-bottom: 5px solid black;
  border-radius: 20px;
  /* background-image: url("../assets/images/service1.png"); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .services-container .service-box .view-btn {
  width: 138px;
  height: 46px;
  /* background: #3029ff; */
  background: linear-gradient(30deg,#817de6,#3029ff,#221e9e);
  box-shadow: 0px 0px 8px #ffffff;
  border-radius: 20px;
  color: #ffffff;
  z-index: 2;
  border: none;
  text-align: center;
  padding: 0.7rem;
}

.services .services-container .service-box .view-btn:hover {
  box-shadow: 0px 0px 10px #ffffff;
  transform:scale(0.95);
  background:linear-gradient(40deg,#90d0f5,#ecedee);
  animation:shine 200ms ;
  filter:drop-shadow(0 0 2px #3029ff );
  color: #3029ff;
  font-weight: 600;
}

.services .services-container .service-box .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* ----------------------------------------------------------------------------------- */

/* ----------------------------Helping Hand------------------------------- */

.helping-hand {
  margin-bottom: 2rem;
}
.helping-hand h4 {
  text-align: center;
  color: #3029ff;
  font-family: "Alatsi", sans-serif;
  font-size: 48px;
  margin: 2rem 0;
}
.helping-hand .helping-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.helping-hand .helping-container .helping-box {
  width: 300px;
  height: 500px;
  padding: 1rem 1.5rem;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 1.5rem 0;
  position: relative;
}
.helping-hand .helping-container .helping-box .image-container {
  width: 220px;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #3029ff;
  box-shadow: 5px 5px 20px rgba(48, 41, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 1.3rem;
}
.helping-hand .helping-container .helping-box .image-container img {
  width: 50%;
  height: 80%;
}
.helping-hand .helping-container .helping-box h5 {
  font-family: "Alatsi", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.helping-hand .helping-container .helping-box p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 24px;
  text-align: justify;
}

.helping-hand .helping-container .helping-box .view-btn {
  width: 124px;
  height: 35px;
  background: #0603e6;
  border-radius: 20px;
  color: #ffffff;
  z-index: 2;
  font-weight: 500;
  transition: 0.2s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  text-align: center;
  padding: 0.3rem;
}

.helping-hand .helping-container .helping-box .view-btn:hover {
  box-shadow: 0px 0px 6px #3029ff;
  border:1px solid #3029ff;
  filter:drop-shadow(0 0 2px #ffffff );
  background: #ffffff;
  color: #3029ff;
}

/* --------------------------contact----------------------------------------------------- */

.contact__main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 1rem;
}

.contact__heading {
  text-align: center;
  height: 61px;
  font-family: "Alatsi";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  color: #3029ff;
}

/* Contact Image */

.contact__rightImage img {
  width: 460px;
  height: 100%;
  object-fit: contain;
}

/* Contact Form */

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  flex-grow: 1;
  font-family: "Montserrat";
}

.input_container {
  background: #ffffff;
  border: 1px solid #0603e6;
  border-radius: 12px;
  padding: 0.6rem;
  display: flex;
  gap: 0.4rem;
  width: 400px;
}

.input_container_name{
  background: #ffffff;
  border: 1px solid #0603e6;
  border-radius: 12px;
  padding: 0.6rem;
  display: flex;
  gap: 0.4rem;
  width: 300px;
}

.input_container_name input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

.input_container_mail{
  background: #ffffff;
  border: 1px solid #0603e6;
  border-radius: 12px;
  padding: 0.6rem;
  display: flex;
  gap: 0.4rem;
  width: 300px;
}

.input_container_mail input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

.input_container input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}
.input_container input ::placeholder {
  font-family: "Aksara Bali Galang";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 86px;
  color: rgba(0, 0, 0, 0.25);
}
.input_container textarea {
  width: 100%;
  border: none;
  outline: none;
  height: 160px;
  padding: 8px 0;
}

.contact__form__button {
  border: none;
  background-color: #3029ff;
  border-radius: 50px;
  color: white;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: bold;
  box-shadow: rgba(48, 41, 255, 0.5) 0px 5px 15px;
  border: 2px solid transparent;
  transition: 0.2s;
  width: 100px;
}

.contact__form__button:hover {
  background-color: transparent;
  border: 2px solid #3029ff;
  color: #3029ff;
}

/* Media Queries */

@media (min-width: 750px) {
  .contact__main {
    flex-direction: row;
  }

  .contact__form__button {
    max-width: 15rem;
  }

  .contact__form__email,
  .contact__form__name {
    max-width: 80%;
  }
}

