.med-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin-bottom: 0.2em;
  line-height: 1.2;
  color: #222;
}

.header h3 {
  font-weight: 400;
  color: #555;
  width: 30em;
}

.med-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.med-card {
  background: #fff;
  width: 24em;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.med-card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.med-card img {
  width: 100%;
  object-fit: cover;
}

.med-card h2 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
}

.med-card p {
  color: #777;
}

.med-card h5 {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
}

.med-card-body {
  padding: 1.2em;
}

.med-buy-btn {
  width: 40%;
  background: #3029ff;
  box-shadow: 0px 4px 10px #ffffff;
  border-radius: 20px;
  color: #ffffff;
  z-index: 2;
  transition: 0.2s;
  border: none;
  text-align: center;
  padding: 0.7rem;
  font-size: 1.2rem;
  
}

.med-buy-btn:hover {
  background: transparent;
  border: 1px solid #3029ff;
  box-shadow: 0px 4px 10px #3029ff;
  background: #ffffff;
  color: #3029ff;
}

@media (min-width: 1300px) {
    .med-container{
        width: auto;
        margin: 0 5rem;
    }
}

@media (min-width: 590px) and (max-width: 752px) {
  .med-card {
    width: 20em;
    margin: 1rem 0;
  }
}
