.navbar {
  all: unset;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.navbar__slogan {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.navbar__slogan__name {
  font-size: 1.5rem;
  font-weight: normal;
}

.navbar__slogan__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3rem;
}

.navbar__slogan__logo img {
  position: absolute;
  width: 100%;
}

.navbar__links {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar__links ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
}

.navbar__links ul li a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  font-weight: 500;
}

.navbar__links ul li a:hover {
  color: #3029ff;
  text-shadow: 0px 3px 6px rgba(48, 41, 255, 0.5);
}

.navbar__hamburger-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navbar__hamburger-menu span {
  all: unset;
  display: block;
  height: 3px;
  width: 2rem;
  background-color: black;
  cursor: pointer;
}

.navbar__mobile-side-nav {
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  z-index: 99999;
  transition: 0.2s;
}

.navbar__mobile-side-nav__exit {
  color: white;
  padding: 1rem;
  align-self: flex-end;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 3rem;
}

.navbar__mobile-side-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar__mobile-side-nav ul li {
  /* background-color: white; */
  /* padding: 1rem; */
  transition: 0.2s;
  cursor: pointer;
}

.navbar__mobile-side-nav ul li a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  display: block;

  /* background-color: green; */
}

.navbar__mobile-side-nav ul li:hover {
  color: black;
  background-color: white;
}

.navbar__mobile-side-nav ul li:hover a {
  color: black;
}

.navbar__mobile-side-nav--show {
  width: 50%;
}

.navbar__shadow {
  position: fixed;
  display: none;
  background-color: black;
  opacity: 0.5;
  inset: 0 0 0 0;
  z-index: 9999;
}

.navbar__shadow--show {
  display: block;
}

@media (min-width: 750px) {
  .navbar__links {
    display: flex;
  }

  .navbar__hamburger-menu {
    display: none;
  }

  .navbar__mobile-side-nav {
    display: none;
  }

  .navbar__shadow {
    display: none;
  }
}
