@import url("https://fonts.googleapis.com/css?family=Alatsi");

.medicine-supplier {
  padding: 0.8rem 1.7rem;
}
.medicine-supplier .heading {
  font-family: "Alatsi";
  font-style: normal;
  color: #3029ff;
  font-size: 48px;
}
.medicine-supplier .medicine-supplier-form {
  padding: 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}
.medicine-supplier .medicine-supplier-form .input-field {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: #ffffff;
  border: 1px solid #0603e6;
  border-radius: 12px;
}
.medicine-supplier .medicine-supplier-form .input-field .input-image {
  flex-basis: 5%;
}
.medicine-supplier .medicine-supplier-form .input-field input {
  border: none;
  font-family: "Aksara Bali Galang";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.25);
  outline: none;
  flex-basis: 80%;
}
.medicine-supplier
  .medicine-supplier-form
  .input-field
  input::placeholder {
  border: none;
  font-family: "Aksara Bali Galang";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.25);
}
.medicine-supplier .medicine-supplier-form .btn-field {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 45%;
}
.medicine-supplier .medicine-supplier-form .btn-field button {
  width: 200px;
  height: 55px;
  background: #3029ff;
  border-radius: 20px;
  border: none;
  font-family: "Alatsi";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}
.medicine-supplier .medicine-supplier-form .btn-field button:hover {
    background: transparent;
    border: 1px solid #3029ff;
    box-shadow: 0px 4px 10px #3029ff;
    background: #ffffff;
    color: #3029ff;
    transition: 0.3s;
}

@media screen and (max-width: 1059px) {
    .medicine-supplier .medicine-supplier-form {
        justify-content: center;
      }
      .medicine-supplier .medicine-supplier-form .input-field{
        flex-basis: 70%;
    }
    .medicine-supplier .heading {
      font-size: 32px;
      text-align: center;
    }
}
@media screen and (max-width: 581px) {
    
      .medicine-supplier .medicine-supplier-form .input-field{
        flex-basis: 100%;
      }
      .medicine-supplier .medicine-supplier-form .input-field .input-image img{
        width: 1.8rem;
      }
      .medicine-supplier .medicine-supplier-form .input-field input{
        width: 1.8rem;
        font-size: 25px;
      }
      .medicine-supplier .medicine-supplier-form .input-field input::placeholder{
        font-size: 25px;
      }
      .medicine-supplier .heading {
        font-size: 32px;
      }
}

/* Style when input is focus eg. writing */
.medicine-supplier
  .medicine-supplier-form
  .input-field
  input:focus {
  border: none;
  font-family: "Aksara Bali Galang";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: black;
}

/* Style when input is not focused but it has not default value
eg. there is something written.*/
.medicine-supplier
  .medicine-supplier-form
  .input-field
  input {
  border: none;
  font-family: "Aksara Bali Galang";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: black;
}

